@import "/src/styles/variables.css";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ede7d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Hide scrollbars altogether */
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ede7d9;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: calc(var(--vh) * 100);
  font-family: inherit;
  font-weight: inherit;
}

/* Base font size for smaller screens */
html {
  font-size: 20px;
}

/* For screens 768px and wider */
@media (min-width: 768px) {
  html {
    font-size: 24px;
  }

  .mainmenu-title {
    font-size: 2.5rem; /* 40px */
  }

  .mainmenu-button > * {
    font-size: 2rem; /* 32px */
  }
}

/* For screens 1200px and wider */
@media (min-width: 1200px) {
  html {
    font-size: 32px;
  }

  .mainmenu-title {
    font-size: 3rem; /* 60px */
  }

  .mainmenu-button > * {
    font-size: 2.5rem; /* 40px */
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--vh) * 100);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
